.fut_labels {
	font-weight: bold;
	display: block;
	color: #888888;
	text-decoration: underline;	
}

#planning {
	margin-bottom: 1.1em;
	margin-top: 0.4em;
}

#sharing_space_actions {
	margin-top: 2em; 
}

#sharing_space {
	border: 1px dotted #555555;
	padding: 0.5em;
	clear: both;
	font-size: 0.8em;
}
