.fut_labels {
	font-weight: bold;
	display: block;
	color: #888888;
	text-decoration: underline;	
}

#planning {
	margin-bottom: 0.5em;
	margin-top: 0.7em;
}

.folder_links img {
	vertical-align: middle; 
}

#sharing_space {
	margin-top: 2em;
	border: 1px dotted #555555;
	padding: 0.5em;
	clear: both;
}

.fc-header-title h2 {
	margin: 0.3em;
	font-size: 1em;
}
.fc-widget-header {
	font-size: 0.9em;
}

.fc-day-number {
	font-size: 0.8em;
}
