{% extends "main.html" %}
{% load url from future %}

{% block page_title %}Gestion des FUTs | {% endblock %}

{% block contextual_nav_bar %}
	<li>></li>
	<li>Gestion des FUTs</a></li>
{% endblock %}

{% block content_title %}Gestion des FUTs - {% endblock %}

{% block contextual_actions_menu %}
	<li><a href="{% url 'logout' %}">Déconnexion</a></li>
	<li><a href="{% url 'home' %}">Accueil</a></li>
	<li><a href="{% url 'futs-index' page=1 %}">FUTs</a></li>
	{% if user.is_staff %}
	<li><a href="/admin/" target="_blank">Administration</a></li>
	{% endif %}	
{% endblock %}