{% extends "main.html" %}
{% load url from future %}

{% block page_title %}Synthèse{% endblock %}

{% block extra_css %}
	<link href="{{ STATIC_URL }}css/ui-futfactorytheme/jquery-ui-1.8.15.custom.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block extra_js %}
	<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.15.custom.min.js"></script>
	<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/report.js"></script>
{% endblock %}

{% block content_title %}Synthèse{% endblock %}

{% block content %}
	{% if messages %}
		{% for message in messages %}
		<div style="margin: 1em auto;" class="error">{{ message }}</div>
		{% endfor %}
	{% endif %}
	<p>Sélectionner les FUTs à inclure dans la synthèse</p>
	<br />
	<form id="filter_form" action="" method="get">
		<table>
			{% if filter.form.non_field_errors %}
			<tr>
			    <td colspan="2" class="error">{{ filter.form.non_field_errors }}</td>
			</tr>
			{% endif %}
			{% for field in filter.form %}
	        <tr>
	        	{% if field.errors %}
	        	<td class="error" colspan="2"{{ field.errors }}></td>
	        	{% endif %}
			    <td class="label">{{ field.label_tag }} : </td>
			    <td class="field">{{ field }}</td>
			</tr>
		    {% endfor %}
		    <tr>
			    <td class="submit_button"><input type="submit" value="Recherche" /></td>
			    <td class="submit_button"><input id="reset" type="reset" value="Réinitialiser" /></td>
			</tr>
		</table>
    </form>
	<br />
	<form id="futs_selection_form" method="post" action="{% url 'report' %}">
		{% csrf_token %}
		<table cellspacing="0" border="1" class="objects_list">
			<tr>
				<th>Tout sélectionner</th>
				<th rowspan="2">Nom</th>
				<th colspan="2">Etat</th>
				<th rowspan="2">Domaine</th>
				<th rowspan="2">Type</th>
				<th colspan="2">Planning Prévisionnel</th>
				<th colspan="2">Planning Effectif</th>
				<th rowspan="2">RM</th>
				<th rowspan="2">Superviseur</th>
				<th rowspan="2">Support</th>
			</tr>
			<tr>
				<th><input type="checkbox" id="select_all" /></th>
				<th>Phase</th>
				<th>Etape</th>
				<th>Debut</th>
				<th>Fin</th>
				<th>Debut</th>
				<th>Fin</th>
			</tr>
			{% for fut in filter %}
			<tr>
				<td>
					<input name="futs"
						   class="selection 
						   {% if fut in futs_for_report %}
						    selected"
						   checked="checked
						   {% endif %}
						   " 
						   type="checkbox" 
						   value="{{ fut.id }}" />
				</td>
				<td><a href="{{ fut.get_absolute_url }}" target="_blank">{{ fut.name }}</a></td>
				<td>{{ fut.state.phase }}</td>
				<td>{{ fut.state }}</td>
				<td>{{ fut.domain }}</td>
				<td>{% if fut.fut_type %}{{ fut.fut_type }}{% else %}-{% endif %}</td>
				<td>{% if fut.scheduled_start_date %}{{ fut.scheduled_start_date|date:"d/m/Y" }}{% else %}-{% endif %}</td>
				<td>{% if fut.scheduled_end_date %}{{ fut.scheduled_end_date|date:"d/m/Y" }}{% else %}-{% endif %}</td>
				<td>{% if fut.effective_start_date %}{{ fut.effective_start_date|date:"d/m/Y" }}{% else %}-{% endif %}</td>
				<td>{% if fut.effective_end_date %}{{ fut.effective_end_date|date:"d/m/Y" }}{% else %}-{% endif %}</td>
				<td>{% if fut.release_manager %}{{ fut.release_manager }}{% else %}-{% endif %}</td>
				<td>{% if fut.leader %}{{ fut.leader }}{% else %}-{% endif %}</td>
				<td>{% if fut.support %}{{ fut.support }}{% else %}-{% endif %}</td>
			</tr>
			{% empty %}
			<tr><td colspan="13" class="empty_list">Aucun FUT</td></tr>
			{% endfor %}
		</table>
		{% if filter %}<div class="submit_button"><input id="select_fut" type="submit" value="Selectionner" /></div>{% endif %}
	</form>
{% endblock %}

{% block contextual_actions_menu %}
	<li><a href="{% url 'logout' %}">Déconnexion</a></li>
	<li><a href="{% url 'home' %}">Retour à l'accueil</a></li>
	<li><a href="{% url 'futs-index' page=1 %}">Gestion des FUTs</a></li>
		{% if user.is_staff %}
		<li><a href="/admin/" target="_blank">Administration</a></li>
		{% endif %}	
{% endblock %}
